<main class="auth">
  <h1>Login</h1>
  <p>Login with your Email and password.</p>
  <% if @user.errors.any? %>
    <div class="auth__errors">
      <h2>Errors:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model: @user, data: { turbo: false }, html: { class: 'auth__form' } do |form|  %>
      <div class="auth__field">
        <%= form.label :email, class: 'auth__label' %>
        <%= form.email_field :email, class: 'auth__input' %>
      </div>
      <div class="auth__field">
        <%= form.label :password, class: 'auth__label' %>
        <%= form.password_field :password, class: 'auth__input' %>
      </div>

      <%= form.submit class: 'auth__submit' %>
    </div>
  <% end %>
  <p>
    Need an account? <%=  link_to "Sign Up", register_path %>
  </p>
<main>

